<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Web Management</title>
	</head>
	<body>
		<center>
			<form method="POST" action="/login">
				Username: <input type="text" name="username" /><br />
				Password: <input type="password" name="password" /><br />
				<input type="submit" name="login" value="Login" />
			</form>
			<% if (err != '') { %>
				<font color="#FF0000">
					<%=err%>
				</font>
			<% } %>
		</center>
	</body>
</html>
